.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--background);
  min-height: 100vh;
  margin: auto;
  padding: 20px;
}

.leftContainer {
  flex: 0 0 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 200px;
  gap: 0;
  margin-top: 200px;
}

.centralSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 900px;
  position: relative;
  height: 600px;
  margin: auto;
}

.backgroundWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 600px;
  z-index: 0;
}

.background {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
  z-index: 0;
}

.backgroundLines {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 48px;
  width: 85%;
  height: auto;
  z-index: 1;
}

.leftSquares {
  position: absolute;
  z-index: 3;
  left: 20px;
  top: 47%;
  transform: translateY(-50%);
  width: 18px;
}

.rightSquares {
  position: absolute;
  z-index: 3;
  right: 20px;
  top: 47%;
  transform: translateY(-50%);
  width: 18px;
}

.bottomSquares {
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 25px;
  transform: translateX(-50%);
  width: 319px;
}

.verticalGroupLeft {
  position: absolute;
  left: 60px;
  bottom: 70px;
  z-index: 3;
  height: 121px;
}

.verticalGroupRight {
  position: absolute;
  right: 60px;
  bottom: 70px;
  z-index: 3;
  height: 121px;
}

.radialGradient {
  position: absolute;
  left: 26%;
  bottom: 32px;
  transform: translateX(-50%);
  width: 165px;
  height: 9px;
  z-index: 2;
  background: radial-gradient(
    49.98% 49.99% at 49.98% 49.99%,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.radialGradientLeft {
  position: absolute;
  left: 45px;
  bottom: 43px;
  width: 9px;
  height: 165px;
  z-index: 2;
  background: radial-gradient(
    49.98% 49.99% at 49.98% 49.99%,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.radialGradientRight {
  position: absolute;
  right: 45px;
  top: 47%;
  transform: translateY(-50%);
  width: 9px;
  height: 252px;
  z-index: 2;
  background: radial-gradient(
    49.98% 49.99% at 49.98% 49.99%,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.coloredTrapeze {
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  z-index: 2;
  min-width: 630px;
  height: 100px;
  background: linear-gradient(
    257.5deg,
    #109ae4 -31.33%,
    #27abf1 -19.3%,
    #2baaee -4.45%,
    #3bb1f0 11.89%,
    #7581f7 29.28%,
    #ef30a2 47.54%,
    #f276c0 66.2%,
    #ffadde 81.84%
  );
  clip-path: polygon(0 0, 100% 0, 92% 100%, 8% 100%);
}

.darkTrapeze {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 2;
  width: 92%;
  height: 90%;
  background: var(--background-dark);
  clip-path: polygon(0 0, 100% 0, 92% 100%, 8% 100%);
}

.title {
  font-weight: 700;
  color: var(--content);
  text-align: center;
  z-index: 2;
  font-family: "Airstrike-platinium";
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0.04em;
}

.pinkTitle {
  color: var(--primary);
  font-family: "Airstrike";
}

.blueTitle {
  color: var(--secondary);
}

.ethBtnContainer {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 3;
  width: 161px;
  height: 161px;
  cursor: pointer;
}

.countdownContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  min-width: 70%;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  color: var(--content);
  z-index: 3;
  font-family: "Airstrike";
  font-weight: 400;
  font-size: 50px;
  line-height: 42px;
}

.endText {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.socialIcons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 1280px) {
  .main {
    justify-content: center;
    flex-direction: column-reverse;
  }

  .leftContainer {
    margin: 24px auto;
    align-items: center;
  }

  .backgroundWrapper {
    width: 900px;
    height: 600px;
  }
}

/* 1280px, 1024px, 768px, 640px */

@media (max-width: 920px) {
  .centralSection {
    width: 700px;
    height: 500px;
  }
  .backgroundWrapper {
    width: 700px;
    height: 500px;
  }
  .backgroundLines {
    top: 37px;
  }
  .leftSquares {
    width: 16px;
    left: 15px;
    top: 47%;
  }
  .rightSquares {
    width: 16px;
    right: 15px;
    top: 47%;
  }
  .bottomSquares {
    left: 50%;
    bottom: 53px;
    width: 248px;
  }
  .verticalGroupLeft {
    left: 49px;
    bottom: 86px;
    height: 96px;
  }
  .verticalGroupRight {
    right: 49px;
    bottom: 86px;
    height: 96px;
  }
  .radialGradient {
    left: 26%;
    bottom: 56px;
    width: 150px;
    height: 8px;
  }
  .radialGradientLeft {
    left: 36px;
    bottom: 60px;
    width: 8px;
    height: 131px;
  }
  .radialGradientRight {
    right: 36px;
    top: 48%;
    width: 8px;
    height: 220px;
  }
  .coloredTrapeze {
    min-width: 550px;
    height: 85px;
  }
  .title {
    font-size: 52px;
    line-height: 60px;
  }
  .ethBtnContainer {
    width: 150px;
    height: 150px;
    bottom: 7px;
  }
}

@media (max-width: 720px) {
  .main {
    padding: 10px;
  }
  .centralSection {
    width: 600px;
    height: 420px;
  }
  .backgroundWrapper {
    width: 600px;
    height: 420px;
  }
  .backgroundLines {
    top: 33px;
  }
  .leftSquares {
    width: 14px;
    left: 12px;
    top: 48%;
  }
  .rightSquares {
    width: 14px;
    right: 12px;
    top: 48%;
  }
  .bottomSquares {
    left: 50%;
    bottom: 38px;
    width: 215px;
  }
  .verticalGroupLeft {
    left: 42px;
    bottom: 66px;
    height: 81px;
  }
  .verticalGroupRight {
    right: 42px;
    bottom: 66px;
    height: 81px;
  }
  .radialGradient {
    left: 26%;
    bottom: 41px;
    width: 144px;
    height: 7px;
  }
  .radialGradientLeft {
    left: 31px;
    bottom: 49px;
    width: 7px;
    height: 110px;
  }
  .radialGradientRight {
    right: 31px;
    top: 48%;
    width: 7px;
    height: 200px;
  }
  .coloredTrapeze {
    min-width: 490px;
    height: 75px;
  }
  .title {
    font-size: 46px;
    line-height: 58px;
  }
  .ethBtnContainer {
    width: 140px;
    height: 140px;
    bottom: 0;
  }
}

@media (max-width: 620px) {
  .main {
    padding: 10px;
  }
  .centralSection {
    width: 500px;
    height: 350px;
  }
  .backgroundWrapper {
    width: 500px;
    height: 350px;
  }
  .backgroundLines {
    top: 28px;
  }
  .leftSquares {
    width: 12px;
    left: 9px;
    top: 48%;
  }
  .rightSquares {
    width: 12px;
    right: 9px;
    top: 48%;
  }
  .bottomSquares {
    left: 50%;
    bottom: 35px;
    width: 191px;
  }
  .verticalGroupLeft {
    left: 35px;
    bottom: 54px;
    height: 68px;
  }
  .verticalGroupRight {
    right: 35px;
    bottom: 54px;
    height: 68px;
  }
  .radialGradient {
    left: 25%;
    bottom: 39px;
    width: 123px;
    height: 6px;
  }
  .radialGradientLeft {
    left: 25px;
    bottom: 41px;
    width: 6px;
    height: 95px;
  }
  .radialGradientRight {
    right: 26px;
    top: 48%;
    width: 6px;
    height: 170px;
  }
  .coloredTrapeze {
    min-width: 400px;
    height: 65px;
  }
  .title {
    font-size: 38px;
    line-height: 48px;
  }
  .countdownContainer {
    font-size: 38px;
    line-height: 46px;
  }
  .ethBtnContainer {
    width: 120px;
    height: 120px;
    bottom: 0;
  }
}

@media (max-width: 520px) {
  .main {
    padding: 10px;
  }
  .centralSection {
    width: 400px;
    height: 280px;
  }
  .backgroundWrapper {
    width: 400px;
    height: 280px;
  }
  .backgroundLines {
    top: 28px;
  }
  .leftSquares {
    width: 8px;
    left: 9px;
    top: 46%;
  }
  .rightSquares {
    width: 8px;
    right: 9px;
    top: 46%;
  }
  .bottomSquares {
    left: 50%;
    bottom: 26px;
    width: 140px;
  }
  .verticalGroupLeft {
    left: 29px;
    bottom: 37px;
    height: 55px;
  }
  .verticalGroupRight {
    right: 29px;
    bottom: 37px;
    height: 55px;
  }
  .radialGradient {
    left: 25%;
    bottom: 28px;
    width: 118px;
    height: 4px;
  }
  .radialGradientLeft {
    left: 21px;
    bottom: 41px;
    width: 4px;
    height: 95px;
  }
  .radialGradientRight {
    right: 22px;
    top: 48%;
    width: 4px;
    height: 150px;
  }
  .coloredTrapeze {
    min-width: 340px;
    height: 55px;
  }
  .title {
    font-size: 31px;
    line-height: 48px;
  }
  .countdownContainer {
    font-size: 38px;
    line-height: 46px;
  }
  .ethBtnContainer {
    width: 100px;
    height: 100px;
    bottom: 0;
  }
}

@media (max-width: 420px) {
  .main {
    padding: 10px;
  }
  .centralSection {
    width: 300px;
    height: 220px;
  }
  .backgroundWrapper {
    width: 300px;
    height: 220px;
  }
  .backgroundLines {
    top: 17px;
  }
  .leftSquares {
    width: 8px;
    left: 9px;
    top: 46%;
  }
  .rightSquares {
    width: 8px;
    right: 9px;
    top: 46%;
  }
  .bottomSquares {
    left: 50%;
    bottom: 26px;
    width: 140px;
  }
  .verticalGroupLeft {
    left: 22px;
    bottom: 43px;
    height: 40px;
  }
  .verticalGroupRight {
    right: 22px;
    bottom: 43px;
    height: 40px;
  }
  .radialGradient {
    left: 21%;
    bottom: 30px;
    width: 82px;
    height: 2px;
  }
  .radialGradientLeft {
    left: 19px;
    bottom: 36px;
    width: 2px;
    height: 85px;
  }
  .radialGradientRight {
    right: 19px;
    top: 48%;
    width: 2px;
    height: 120px;
  }
  .coloredTrapeze {
    min-width: 250px;
    height: 40px;
    top: 8px;
  }
  .title {
    font-size: 23px;
    line-height: 33px;
  }
  .countdownContainer {
    font-size: 30px;
    line-height: 34px;
  }
  .ethBtnContainer {
    width: 80px;
    height: 80px;
    bottom: 0;
  }
}
