.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--background);
  min-height: 100vh;
  margin: auto;
  padding: 20px;
}

.leftContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  justify-content: center;
  z-index: 1;
}

.centralSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 900px;
  position: relative;
  height: 598px;
  margin: auto;
  z-index: 1;
}

.backgroundWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 598px;
  z-index: 0;
  background-image: url("/visuals/desktop_background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
  z-index: 1;
}

.title {
  position: absolute;
  font-weight: 700;
  color: var(--content);
  text-align: center;
  z-index: 2;
  font-family: "Airstrike-platinium";
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0.04em;
  left: 50%;
  top: 34px;
  transform: translateX(-50%);
  width: 100%;
}

.pinkTitle {
  color: var(--primary);
  font-family: "Airstrike";
}

.blueTitle {
  color: var(--secondary);
}

.ethBtnContainer {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 3;
  width: 161px;
  height: 161px;
  cursor: pointer;
}

.countdownContainerWithDays,
.countdownContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  min-width: 70%;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  color: var(--content);
  z-index: 3;
  font-family: "Airstrike";
  font-weight: 400;
  font-size: 50px;
  line-height: 42px;
}

.countdownContainerWithDays {
  font-size: 40px;
  justify-content: center;
}

.endText {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  max-width: 200px;
}

.socialIcons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

.ethPrice {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 10px;
}

.remainingClicksMobile {
  display: none;
}

@media (max-width: 1280px) {
  .backgroundWrapper {
    width: 700px;
    height: 465px;
  }
  .centralSection {
    width: 700px;
    height: 465px;
  }
  .leftContainer {
    flex: 0 0 190px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 190px;
    margin-top: 0;
  }
  .title {
    position: absolute;
    font-size: 48px;
    line-height: 63px;
    left: 50%;
    top: 15px;
    transform: translateX(-50%);
    width: 100%;
  }

  .countdownContainerWithDays {
    font-size: 25px;
  }
}

@media (max-width: 1024px) {
  .main {
    justify-content: center;
    flex-direction: column;
    padding: 4px;
    gap: 20px;
  }
  .leftContainer {
    flex: 0;
    margin: 10px auto;
    flex-direction: column-reverse;
    max-width: 300px;
  }
  .centralSection {
    width: 450px;
    height: 621px;
    margin: 0 auto;
  }
  .backgroundWrapper {
    width: 450px;
    height: 621px;
    background-image: url("/visuals/mobile_background.svg");
  }
  .countdownContainer {
    flex-wrap: wrap;
    justify-content: center;
    left: 50%;
    top: 42%;
    transform: translate(-50%, -42%);
  }

  .title {
    position: absolute;
    font-size: 30px;
    line-height: 43px;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    width: 100%;
  }
  .ethBtnContainer {
    width: 150px;
    height: 150px;
    bottom: 7px;
  }
  .endText {
    max-width: unset;
  }
  .remainingClicksMobile {
    display: block;
  }
  .ethPrice {
    margin-bottom: 0;
  }
}

@media (max-width: 490px) {
  .leftContainer {
    flex: 0;
    margin: 10px auto;
    flex-direction: column-reverse;
  }
  .centralSection {
    width: 310px;
    height: 428px;
  }
  .backgroundWrapper {
    width: 310px;
    height: 428px;
  }
  .countdownContainer {
    flex-wrap: wrap;
    justify-content: center;
    left: 50%;
    top: 42%;
    transform: translate(-50%, -42%);
  }
  .title {
    position: absolute;
    font-size: 20px;
    line-height: 31px;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    width: 100%;
  }
  .ethBtnContainer {
    width: 100px;
    height: 100px;
    bottom: 7px;
  }
  .ethPrice {
    font-size: 13px;
    margin-bottom: 0;
  }
}
