.btnContainer {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;

  font-family: "Jetbrains";
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  padding: 7px;
}

.default {
  background-image: url("/visuals/button.svg");
  color: var(--content);
}

.default:hover {
  background-image: url("/visuals/buttonColored.svg");
  color: var(--content);
}

.white {
  background-image: url("/visuals/buttonWhite.svg");
  color: var(--content-dark);
}

@media (max-width: 490px) {
  .content {
    font-size: 12px;
  }
}
