.statsSections {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  gap: 24px;
  z-index: 1;
}

.statsSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.statsSection p {
  text-align: center;
}

.winnerWrapper {
  border-radius: 8px;
  padding: 1px;
  background: linear-gradient(
    77.5deg,
    #109ae4 -31.33%,
    #27abf1 -19.3%,
    #2baaee -4.45%,
    #3bb1f0 11.89%,
    #7581f7 29.28%,
    #ef30a2 47.54%,
    #f276c0 66.2%,
    #ffadde 81.84%
  );
  overflow: hidden;
  max-width: 200px;
}

.winnerSection {
  background-color: var(--background);
  padding: 16px;
  box-shadow: 0px 2.06px 30.91px rgba(29, 94, 123, 0.24);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

@media (max-width: 1280px) {
  .statsSections {
    margin: 24px auto;
    align-items: center;
    justify-content: center;
    max-width: 190px;
    flex: 0 0 190px;
  }
  .statsSection {
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .statsSections {
    display: none;
  }
}
